# ignore files with no extension
*
!/**/
!*.*

# misc
__pycache__
.venv
.env
scratch*
.vscode/
total_plays.csv
album_art/
*.backup
.claude/
*.txt
ipod_wrapped.db
convttf.sh

# extremely rough, still working on
guide-docs/
helpers/
gtk_app4.py
music_player.py
playlist_maker.sh