# ignore files with no extension
*
!/**/
!*.*
!rockbox-theme/.rockbox

# misc
__pycache__
.venv
.env
scratch*
.vscode/
*.sh
total_plays.csv
album_art/
*.backup
.claude/
*.txt
ipod_wrapped.db

# extremely rough, still working on
playlist-maker/*
guide-docs/
helpers/
gtk_app4.py
music_player.py