/* GENERAL */
/* TODO: light mode logic */
.page-area {
    margin: 15px 5px 5px 5px;
}

label {
    color: #D9D9CE;
}

/* CLOSE, MINIMIZE, MAXIMIZE */
windowcontrols button {
    min-width: 13px;
    min-height: 13px;
    padding: 2px;
}

windowcontrols button image {
    -gtk-icon-size: 12px;
}

/* ALBUM */
.album-button {
    background-color: transparent;
    border-color: transparent;
}

.album-name-label {
    font-weight: 500;
    font-size: 10px;
}

.album-artist-label {
    font-weight: 100;
    font-size: 9px;
}

/* GENRE */
.genres-page {
    margin: 0;
}

.genre-breakdown-scrolled {
    margin: 0;
    padding: 0;
}

.genre-breakdown-pane{
    background-color: #1b1b1e;
    margin: 0;
    padding: 0;
}

.genre-tag {
    background-color: #2b2b30;
}

.genre-tag:hover {
    background-color: #923a78;
}

.genre-header-box {
    margin-top: 10px;
    margin-bottom: 8px;
}

.genre-title-label {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 2px;
}

.genre-stats-label {
    margin: 0px 0px 2px -2px;
    font-weight: 200;
}

.genre-info-icon {
    min-height: 8px;
    min-width: 8px;
    padding: 0;
    margin: 0;
    -gtk-icon-size: 10px;
}

.genre-image {
    margin-left: 10px;
}

.genre-song-row {
    padding: 3px 0;
}

.genre-song-art {
    margin-left: 10px;
    margin-right: 3px;
}

.genre-song-text {
    font-size: 9px;
    font-weight: 300;
}

/* HEADER BAR & VIEW SWITCHER */
headerbar {
    background-color: #1b1b1e;
    color: #D9D9CE;
    min-height: 16px;
    padding: 0;
}

headerbar viewswitcher button {
    min-height: 18px;
    min-width: 40px;
    padding: 2px 8px;
    margin: 0 1px;
    font-size: 8px;
    border-radius: 4px;
}

headerbar viewswitcher button:checked {
    background-color: #1f1f23;
    color: #D9D9CE;
}

headerbar viewswitcher button:hover {
    background-color: #923a78;
}

headerbar viewswitcher button image {
    margin: 0;
    padding: 0;
}

headerbar viewswitcher label {
    font-weight: bold;
}

/* BOTTOM BAR */
.bottom-bar-collapsed {
    background-color: #1b1b1e;
    min-height: 35px;
    border-top: 1px solid #2a2a2e;
}

.bottom-bar-expanded {
    background-color: #1b1b1e;
    margin-top: 20px;
    border-top: 1px solid #2a2a2e;
}

.bottom-bar-expand-btn, .bottom-bar-collapse-btn {
    background-color: #2a2a2e;
    border-radius: 50%;
    min-width: 16px;
    min-height: 16px;
    margin-top: -12px;
    border: 2px solid #1b1b1e;
}

.bottom-bar-expand-btn:hover, .bottom-bar-collapse-btn:hover {
    background-color: #923a78;
}

/* START WRAPPED */
.start-wrapped-title {
    font-weight: 500;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 10px;
}

.start-wrapped-subtitle {
    font-weight: 300;
    font-size: 14px;
}

.start-wrapped-explainer { /* TODO: come back and figure out how to center this */
    font-weight: 200;
    font-size: 11px; 
    margin: 20px 100px 0px 100px;
}

.start-wrapped-spinner {
    margin-top: 15px;
}

.start-wrapped-btn {
    margin-top: 20px;
}

/* BANNERS */
.banner-error {
    background-color: rgba(192, 28, 40, 0.2);
    border-left: 3px solid #c01c28;
}

.banner-success {
    background-color: rgba(38, 162, 105, 0.2);
    border-left: 3px solid #26a269;
}

.banner-info {
    background-color: rgba(153, 193, 241, 0.2);
    border-left: 3px solid #99c1f1;
}