/* GENERAL */
/* TODO: light mode logic */
.page-area {
    margin: 15px 5px 5px 5px;
}

label {
}

/* CLOSE, MINIMIZE, MAXIMIZE */
windowcontrols button {
    min-width: 13px;
    min-height: 13px;
    padding: 2px;
}

windowcontrols button image {
    -gtk-icon-size: 12px;
}

/* ALBUM */
.album-button {
    background-color: transparent;
    border-color: transparent;
}

.album-name-label {
    font-weight: 500;
    font-size: 10px;
}

.album-artist-label {
    font-weight: 100;
    font-size: 9px;
}

/* HEADER BAR & VIEW SWITCHER */
headerbar {
    background-color: #1b1b1e;
    color: white;
    min-height: 16px;
    padding: 0;
}

headerbar viewswitcher button {
    min-height: 18px;
    min-width: 40px;
    padding: 2px 8px;
    margin: 0 1px;
    font-size: 8px;
    border-radius: 4px;
}

headerbar viewswitcher button:checked {
    background-color: #1f1f23;
    color: white;
}

headerbar viewswitcher button:hover {
    background-color: #923a78;
}

headerbar viewswitcher button image {
    margin: 0;
    padding: 0;
}

headerbar viewswitcher label {
    font-weight: bold;
}

/* BOTTOM BAR */
.bottom-bar {
    background-color: #1b1b1e;
    min-height: 35px;
    border-top: 1px solid #2a2a2e;
}